.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    height: 70px;
    width: 100%;
}
.logo{
    width: 15%;
    height: 106px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   rotate: -20deg;
  
}
.logo img{
 object-fit:cover;
 height: 50px;
 width: 50px;
}
.content{
    width: 80%;
    text-align: center;
}

.contentText{
    font-size: 24px;
    font-family:var(--roboto);
    font-weight: bold;
    text-shadow: 2px 2px #dad6d6;
}
